.register {
	height: 100vh;
	background-color: rgb(193, 190, 255);
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 20px; /* Added padding for smaller screens */

	.card {
		width: 50%;
		display: flex;
		flex-direction: row-reverse;
		background-color: white;
		border-radius: 10px;
		min-height: 600px;
		overflow: hidden;

		.left {
			flex: 1;
			background: linear-gradient(rgba(39, 11, 96, 0.5), rgba(39, 11, 96, 0.5)),
				url('https://images.pexels.com/photos/4881619/pexels-photo-4881619.jpeg?auto=compress&cs=tinysrgb&w=1600')
					center;
			background-size: cover;
			padding: 50px;
			display: flex;
			flex-direction: column;
			gap: 30px;
			color: white;

			h1 {
				font-size: 100px;
				line-height: 100px;
			}

			p {
			}

			span {
				font-size: 14px;
			}

			button {
				width: 50%;
				padding: 10px;
				border: none;
				background-color: white;
				color: rebeccapurple;
				font-weight: bold;
				cursor: pointer;
			}
		}

		.right {
			flex: 1;
			padding: 50px;
			display: flex;
			flex-direction: column;
			gap: 50px;
			justify-content: center;

			h1 {
				color: #555;
			}

			form {
				display: flex;
				flex-direction: column;
				gap: 30px;

				input {
					border: none;
					border-bottom: 1px solid lightgray;
					padding: 20px 10px;
				}

				button {
					width: 50%;
					padding: 10px;
					border: none;
					background-color: #938eef;
					color: white;
					font-weight: bold;
					cursor: pointer;
				}
			}
		}
	}
}

/* Media queries for responsiveness */
@media (max-width: 1200px) {
	.register .card {
		width: 70%;
	}
}

@media (max-width: 992px) {
	.register .card {
		width: 90%;
	}

	.register .card .left h1 {
		font-size: 80px;
		line-height: 80px;
	}

	.register .card .left button,
	.register .card .right form button {
		width: 70%;
	}
}

@media (max-width: 768px) {
	.register {
		height: auto; /* Adjust height for smaller screens */
		padding: 10px;
	}

	.register .card {
		flex-direction: column;
		width: 100%;
		min-height: auto;
	}

	.register .card .left,
	.register .card .right {
		padding: 20px;
	}

	.register .card .left h1 {
		font-size: 60px;
		line-height: 60px;
	}

	.register .card .right {
		gap: 30px;
	}
}

@media (max-width: 576px) {
	.register .card .left h1 {
		font-size: 40px;
		line-height: 40px;
	}

	.register .card .left {
		gap: 20px;
	}

	.register .card .right {
		gap: 20px;
	}

	.register .card .left button,
	.register .card .right form button {
		width: 100%;
	}
}
